<% layout('layouts/boilerplate') %> 

<div class="row">

    <h1 class="text-center">New Student </h1>
    <div class="col-6 offset-3">

        <form action="/students" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
            <!-- New Student Info -->
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="name[firstName]" id="firstName" class="form-control" placeholder="First Name" required>
                            <label for="firstName" class="form-label">First name</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a first name.</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" name="name[lastName]" id="lastName" class="form-control" placeholder="Last Name" required>
                            <label for="lastName" class="form-label">Last name</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a last name.</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" name="name[koreanName]" id="koreanName" class="form-control" placeholder="Korean Name" required>
                            <label for="koreanName" class="form-label">Korean name</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a Korean name.</div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Profile Picture (Optional)</label>
                    <input class="form-control" type="file" id="image" name="image">
                </div>

                <div class="row mb-3">
                    <div class="col d-flex" style="justify-content: center;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                            <label class="form-check-label" for="male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                            <label class="form-check-label" for="female">Female</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="birthday" class="form-label">Date of Birth</label>
                        <input type="date" name="birthday" id="birthday" class="form-control" min="1900-01-01" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a birth date.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3">
                            <input type="text" name="school" id="school" class="form-control" placeholder="School">
                            <label for="school" class="form-label">School <i>(Optional)</i></label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="yedarmMemberDate" class="form-label">Yedarm Member Since:</label>
                        <input type="date" name="yedarmMemberDate" id="yedarmMemberDate" class="form-control" min="1920-01-01">
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset>
                <legend>Medical Information:</legend>
                <div class="row mb-3">
                    <div class="col">
                        <textarea name="medicalInfo" rows="3" id="medical" onkeyup="bulletify(event)" style="min-width: 100%;" 
                            placeholder="i.e. any disability, special needs, allergies, diet restrictions, proneness to seizures, additional info"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="needs" class="d-flex form-label">Special Needs</label>
                        <textarea name="behavioral[needs]" rows="3" id="needs" onkeyup="bulletify(event)" style="min-width: 100%;" 
                            placeholder="i.e. any special needs of the student for accomodation purposes"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Behavioral Information:</legend>
                <div class="row mb-3">
                    <div class="col">
                        <label for="behavioral-likes" class="d-flex form-label">Likes</label>
                        <textarea name="behavioral[likes]" rows="3" id="behavioral-likes" onkeyup="bulletify(event)" style="min-width: 100%;" 
                            placeholder="i.e. likes, favorite food, activities"></textarea>
                    </div>
                    <div class="col">
                        <label for="behavioral-dislikes" class="d-flex form-label">Dislikes</label>
                        <textarea name="behavioral[dislikes]" rows="3" id="behavioral-dislikes" onkeyup="bulletify(event)" style="min-width: 100%;" 
                            placeholder="i.e. dislikes, triggers, fears"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="pacification" class="d-flex form-label">Pacification instructions</label>
                        <textarea name="behavioral[pacification]" rows="3" id="pacification" onkeyup="bulletify(event)" style="min-width: 100%;" 
                            placeholder="i.e. signs of escalation, best calming methods"></textarea>
                    </div>
                </div>
                <div class="row mb-3 justify-content-md-center">
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <label for="comprehension-eng" class="form-label">English Comprehension</label>
                            <select class="form-select" name="behavioral[comprehension][english]" id="comprehension-eng">
                                <option disabled selected value="">Choose...</option>
                                <% for (let i=1; i <= 5; i++ ) { %> 
                                    <option value="<%= i %> "><%= i %> </option>
                                <% } %> 
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3">
                            <label for="comprehension-kor" class="form-label">Korean Comprehension</label>
                            <select class="form-select" name="behavioral[comprehension][korean]" id="comprehension-kor">
                                <option disabled selected value="">Choose...</option>
                                <% for (let i=1; i <= 5; i++ ) { %> 
                                    <option value="<%= i %> "><%= i %> </option>
                                <% } %> 
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>

            
            <!-- New Parent Info -->
            <div class="row my-4">
                <h3 class="text-center">Parent Contact </h3>
            </div>
            <div class="row mb-3 justify-content-md-center">

                <div class="col-md-4">
                    <label for="inputRelationship" class="form-label">Relationship to student</label>
                    <select id="inputRelationship" name="parent[relation][toStudent]" class="form-select" required>
                        <option disabled selected value="">Choose...</option>
                        <% for (let relation of relationsArray) { %>
                            <option value="<%= relation %>">
                                <%= relation %>
                            </option>
                        <% } %>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter the relationship.</div>
                </div>
                <div class="col-md-4">
                    <label for="inputMarriage" class="form-label">Marriage status (optional)</label>
                    <select id="inputMarriage" name="parent[relation][marriageStatus]" class="form-select">
                        <option disabled selected value="">Choose...</option>
                        <option value="married">
                            Married
                        </option>
                        <option value="divorced">
                            Divorced
                        </option>
                        <option value="">
                            n/a
                        </option>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter the relationship.</div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" name="parent[name]" id="parentName" class="form-control" placeholder="Full name" required>
                        <label for="parentName" class="form-label">Primary Parent Full Name</label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a name.</div>
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md">
                <!-- <div class="col-md-5 col-xl"> -->
                    <div class="form-floating mb-3">
                        <input type="email" name="parent[email]" id="parentEmail" class="form-control" placeholder="name@example.com" required>
                        <label for="parentEmail" class="form-label">Primary Parent Email </label>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md">
                <!-- <div class="col-8 col-xxl-7"> -->
                    <div class="form-floating mb-3">
                        <label for="parentPhone" class="form-label">Primary Parent Phone <i>(i.e. 123-456-7890)</i></label>
                        <input type="tel" name="parent[phone]" id="parentPhone" class="form-control"
                                pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" minLength=12 maxLength=12 required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a valid phone number <i>(i.e. 123-456-7890)</i></div>
                        <small id="contactHelp" class="form-text text-muted">We'll never share the above information with anyone else.</small>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                Is this parent a KCPC member?
            </div>
            <div class="row mb-4 justify-content-md-center">
                <div class="col-md-auto text-center">
                    <input type="radio" id="kcpcMember" name="parent[kcpcMember]" class="form-check-input mr-1" value='true' required>
                    <label for="kcpcMember" class="radio-inline">Yes</label>
                    <input type="radio" id="kcpcMemberfalse" name="parent[kcpcMember]" class="form-check-input mr-1" value='false' required>
                    <label for="kcpcMemberfalse" class="radio-inline">No</label>
                </div>
            </div>
            <div class="row g-3 mb-3">

                <div class="col-12">
                    <label for="inputStreetAddress" class="form-label">Address</label>
                    <input type="text" name="parent[address][street]" class="form-control" id="inputStreetAddress"
                        placeholder="1234 Main St" required>
                </div>
                <div class="col-md-6">
                    <label for="inputCity" class="form-label">City</label>
                    <input type="text" name="parent[address][city]" class="form-control" id="inputCity" required>
                </div>
                <div class="col-md-4">
                    <label for="inputState" class="form-label">State</label>
                    <select id="inputState" name="parent[address][state]" class="form-select" required>
                        <option disabled selected value="">Choose...</option>
                        <% for (let state of statesArray) { %>
                            <option value="<%= state %>">
                                <%= state %>
                            </option>
                        <% } %>
                    </select>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter the state.</div>
                </div>
                <div class="col-md-2">
                    <label for="inputZip" class="form-label">Zip</label>
                    <input type="text" name="parent[address][zip]" class="form-control" id="inputZip"
                        maxlength="5" required>
                </div>
                <small id="contactHelp" class="form-text text-muted">We'll never share your contact information with
                    anyone else. This information is for emergency contact purposes only.</small>
            
            </div>
            
            <div class="row mb-4 justify-content-md-center">
                <div class="col-md-auto text-center">
                    <button type="submit" class="btn btn-success btn-lg" style="background-color: #28a745; border-color: #28a745;">Submit</button>
                </div>
            </div>
        </form>

        <br><br>
        <div class="row d-inline">
            <a href="/students">Back to Students</a>
            <!-- <a href="/">Back to Home</a> -->
        </div>
        <br><br>
    </div>

</div>
