<% layout('layouts/boilerplate') %> 
<style>
    table {
        border-collapse: separate;
        border-spacing: 0 5px;
        width: 100%;
    }
    .basicInfo th {
        color: dodgerblue;
        padding-right: 1rem;
        font-size: 1.1rem;
    }
    .behavInfo th {
        color: dodgerblue;
        /* padding-right: .5rem; */
        font-size: 1.3rem;
    }
    /* .a {
        word-break: break-word;
        width: 300px; 
        overflow: hidden;
    } */
    .behavInfo tr {
        font-size: 1.1rem;
        width: 100%;
    }
</style>
<div class="row justify-content-md-center">
    
    <div class="col-5">
        <h5>Student Profile </h5>
        <br>

        <h2><%= student.fullName  %></h2>
        <% if (student.name.koreanName) { %>
            <h3><%= student.name.koreanName  %></h3>
        <% } %> 
        <hr>
        <h5 class="text-muted mb-4">Basic Information</h5>
        <div class="basicInfo">
            <table>
                <tr>
                    <th>Gender:</th>
                    <td><%= student.gender %></td>
                </tr>
                <tr>
                    <th>Age:</th>
                    <td><%= calculateAge(student.birthdayMDY) %></td>
                </tr>
                <tr>
                    <th>Birthday:</th>
                    <td><%= student.birthdayMDY %></td>
                </tr>
                <tr>
                    <th>School:</th>
                    <td><%= student.school %></td>
                </tr>
                <tr>
                    <th>Yedarm Member Since:</th>
                    <td><%= student.yedarmMemberDateMY %></td>
                </tr>
            </table>
        </div>
        <br><br>
        <hr>

        <h4 class="text-muted mb-4">Medical Information</h4>
        <% if (student.medicalInfo) {%> 
            <ul>
                <% for (line of student.medicalInfo.split('\n')) { %> 
                    <li><%= line.replace('\u2022', '') %> </li>
                <% } %> 
            </ul>
        <% } %> 
        <br>

    </div>
    <div class="col-1"></div>
    <div class="col-6">
        <div class="row mb-3 justify-content-md-center">
            <div class="col" style="text-align: center;">
                <% if (student.image.url) { %> 
                    <img src="<%= student.image.url %> " width="250vh" alt="studentImage">
                <% } else { %> 
                    <img src="<%= "https://res.cloudinary.com/de7x3ykky/image/upload/v1607293003/yedarm/default_profile_pic.png" %> " width="200vh" alt="studentImage">
                    <% } %> 
            </div>
        </div>
        <!-- <img src="/imgs/sample.jpg" class="py-4" alt=""> -->
        <!-- <p>this is the student profile picture</p> -->
        <hr>
        <h3 class="text-muted mb-4">Behavioral Information</h3>
        <div class="behavInfo">
            <table class="table table-borderless">
                <tr>
                    <th>
                        English:
                    </th>
                    <td>
                        <%= student.behavioral.comprehension.english %>
                    </td>
                    <th>
                        Korean:
                    </th>
                    <td>
                        <%= student.behavioral.comprehension.korean %>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">Likes:</th>
                    <th colspan="2">Dislikes:</th>
                </tr>
                <tr>
                    <td colspan="2">
                        <% if (student.behavioral.likes) {%> 
                            <ul>
                                <% for (line of student.behavioral.likes.split('\n')) { %> 
                                    <li><%= line.replace('\u2022', '') %> </li>
                                <% } %>
                            </ul>
                        <% } %> 
                    </td>
                    <td colspan="2">
                        <% if (student.behavioral.dislikes) {%> 
                            <ul>
                                <% for (line of student.behavioral.dislikes.split('\n')) { %> 
                                    <li><%= line.replace('\u2022', '') %> </li>
                                <% } %>
                            </ul>
                        <% } %> 
                    </td>
                </tr>
                <tr>
                    <th colspan="4">
                        Needs:
                    </th>
                </tr>
                <tr>
                    <td colspan="4">
                        <% if (student.behavioral.needs) {%> 
                            <ul>
                                <% for (line of student.behavioral.needs.split('\n')) { %> 
                                    <li><%= line.replace('\u2022', '') %> </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">
                        Calming methods:
                    </th>
                </tr>
                <tr>
                    <td colspan="4">
                        <% if (student.behavioral.pacification) {%> 
                            <ul>
                                <% for (line of student.behavioral.pacification.split('\n')) { %> 
                                    <li><%= line.replace('\u2022', '') %> </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th colspan="4">Incidents:</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <% if (student.incidents.length != 0) {%> 
                            <ul>
                                <% for (incident of student.incidents) { %> 
                                    <li><%= incident %> </li>
                                <% } %> 
                            </ul>
                        <% } %> 
                    </td>
                </tr>
            </table>
        </div>
        <br>
    
    </div>

</div>

<div class="row">
    <div class="col">
        <input type="button" class="btn btn btn-info" onclick="location.href='/students/<%= student._id %>/edit'" value="Edit Student" />
        <form class="d-inline" id="deleteStudentForm" action="/students/<%= student._id %>?_method=DELETE" method="POST">
            <!-- Button trigger modal -->
            <button type="submit" class="btn btn btn-danger" onclick="event.preventDefault();" data-toggle="modal" data-target="#confirmModal">
                Delete
            </button>
            <!-- Confirmation/Cancel buttons -->
            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Delete this student?</h5>
                        </div>
                        <div class="modal-body">
                            <p>This student will be permanently deleted from the database.</p>
                            <p>This <b>cannot</b> be undone.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger" onclick="document.getElementById('deleteStudentForm').submit();">
                                Confirm
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<br><br>
<h4>Parent Contact</h4>
<% if (student.parents.length != 0) {%>
    <table class="table table-hover datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Relationship</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">KCPC member?</th>
                <th scope="col">Marriage</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% let i = 1 %> 
            <% for (let parent of student.parents) {%>
                <tr>
                    <th scope="row"><%= i++ %> </th>
                    <td><%= parent.name %></td>
                    <td><%= parent.relation.toStudent %></td>
                    <td><%= parent.email %></td>
                    <td><%= parent.phone %></td>
                    <td><%= parent.addressFull %></td>
                    <td><%= parent.kcpcMember ? "Yes" : "No" %></td>
                    <td><%= parent.relation.marriageStatus %></td>
                    <td>
                        <form class="d-inline" id="deleteParentForm" action="/students/<%= student._id %>/parents/<%= parent._id %>?_method=DELETE" method="POST">
                            <!-- Button trigger modal -->

                            <button type="submit" class="btn btn-sm btn-danger" onclick="event.preventDefault();" data-toggle="modal" data-target="#confirmModal2">
                                Delete
                            </button>
                            <!-- Confirmation/Cancel buttons -->
                            <!-- Modal -->
                            <div class="modal fade" id="confirmModal2" tabindex="-1" aria-labelledby="confirmModalLabel2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmModalLabel2">Delete this parent?</h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>This parent will be permanently deleted from the database.</p>
                                        <p>This <b>cannot</b> be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-danger" onclick="document.getElementById('deleteParentForm').submit();">
                                            Confirm
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            <% } %>  
        </tbody>
    </table>
    <input type="button" class="btn btn-sm btn-info" onclick="location.href='/students/<%= student._id %>/parents/edit'" value="Edit Parent(s)" />
    
<% } //else { %>  
    <input type="button" class="btn btn-sm btn-success" onclick="location.href='/students/<%= student._id %>/parents/new'" value="Add Parent(s)" />
<% //} %> 
<br><br>
<div class="row d-inline">
    <a href="/students">Back to Students</a>
    <!-- <a href="/">Back to Home</a> -->
</div>
<br><br>
<style>
    .dataTables_info {
        margin-bottom: 1rem;
    }
</style>